/* hide radio variant UI */

/*.js_add_cart_variants ul{
display:none;
}*/

li[name="variant_attribute"]> ul{
    display:none!important;
}

/*.variant_attribute input[type="radio"]{
    display: none !important;
}*/


/* dropdown style */
.variant-dropdown{
margin-bottom:20px;
}

.variant-dropdown select{
width:100%;
max-width:350px;
padding:8px;
border-radius:6px;
border:1px solid #ccc;
}